
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 600px){

    #grid_container{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(12, 1fr  );
        background-color: gray;
        width: 100%;
        gap: 7px;
        background-color: black;
    }
    
    #c1{
        height: 60px;
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: rgb(180, 224, 209);
    }
    
    #c2{
        grid-column: 3/6;
        grid-row: 1/2;
        background-color: pink;
    
    }
    
    #c3{
        grid-column: 6/7;
        grid-row: 1/7;
        background-color: whitesmoke;
    }
    
    #c4{
        grid-column: 3/4;
        grid-row: 2/4;
        background-color: pink;
    
    }
    
    #c5{
        grid-column: 4/6;
        grid-row: 2/4;
        background-color: rgb(244, 234, 96);
    
    }
    
    #c6{
        height: 60px;
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: rgb(244, 234, 96);
    
    }
    
    #c7{
        grid-column: 5/6;
        grid-row: 4/7;
        background-color: rgb(180, 224, 209);
    
    }
    
    #c8{
        grid-column: 5/6;
        grid-row: 7/9;
        background-color: rgb(128, 211, 183);
    
    }
    
    #c9{
        grid-column: 6/7;
        grid-row: 7/9;
        background-color: rgb(128, 211, 183);
    
    }
    
    #c10{
        grid-column: 1/3;
        grid-row: 8/10;
        background-color: rgb(56, 4, 56);
    
    }
    
    #c11{
        height: 60px;
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: rgb(180, 224, 209);
    
    }
    
    #c12{
        grid-column: 3/5;
        background-color: rgb(180, 224, 209);
    
        
    }
    
    #c13{
        grid-row: 9/12;
        background-color: rgb(244, 234, 96);
    
    }
    
    #c14{
        grid-column: 4/6;
        background-color: rgb(79, 206, 164);
    
    }
    
    #c15{
        grid-row: 9/12;
        background-color: red;
    }
    
    #c16{
        grid-column: 1/3;
        grid-row: 10/12;
        background-color: blue;
    }
    
    #c17{
        grid-column: 4/6;
        grid-row: 10/12;
        background-color: rgb(128, 211, 183);
    
        
    }
    
    #c18{
        grid-column: 1/5;
        grid-row: 4/8;
        background-color: red;
    }
    
    #c19{
        grid-column: 1/3;
        background-color: rgb(56, 4, 56);
    
    
    }
    
    #c20{
        grid-column: 3/7;
        background-color: rgb(79, 206, 164);
    
    }
}

